.title {
  margin-top: 30px;
}

.steps-content {
  width: 100% !important;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crop-right-panel {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

#cropped-container {
  margin-top: 10px;
  height: 450px;
  overflow: auto;
  background: rgba(0,0,0,0.05);
  padding: 10px;
}