.list-result {
  margin-top: 25px !important;
}

.card-content {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 5 /* number of lines to show */;
  -webkit-box-orient: vertical;
}

.ant-list-item-meta-title {
  font-weight: bold;
  font-size: 20px !important;
  margin-bottom: 10px !important;
}
