.card-container {
}

.card-content {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 5 /* number of lines to show */;
  -webkit-box-orient: vertical;
}
